In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from pycaret.classification import *

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df_train = pd.read_csv('/content/gdrive/MyDrive/ML data sets /Participant_Data_TheMathCompany_/train.csv',na_values=['-'])
df_test = pd.read_csv('/content/gdrive/MyDrive/ML data sets /Participant_Data_TheMathCompany_/test.csv',na_values=['-'])

In [ ]:
df=pd.concat([df_train,df_test])

In [ ]:
df.head()

In [ ]:
plt.figure(figsize=(10,10))
df.drop('ID',axis=1).boxplot()

# Main

In [ ]:
for i in df.columns:
  print(i,'=> ','no. of unique values ',df[i].nunique(),'|',' null values ',df[i].isna().sum())
  print(df[i].unique())
  print('--------------------------------------------------------------------------------------------------')

ID =>  no. of unique values  26886 |  null values  0
[45654403 44731507 45774419 ... 45649860 45809706 45813163]
--------------------------------------------------------------------------------------------------
Price =>  no. of unique values  2315 |  null values  8245
[13328. 16621.  8467. ... 63886. 22075.    nan]
--------------------------------------------------------------------------------------------------
Levy =>  no. of unique values  634 |  null values  8273
[ 1399.  1018.    nan   862.   446.   891.   761.   751.   394.  1053.
  1055.  1079.   810.  2386.  1850.   531.   586.  1249.  2455.   583.
  1537.  1288.   915.  1750.   707.  1077.  1486.  1091.   650.   382.
  1436.  1194.   503.  1017.  1104.   639.   629.   919.   781.   530.
   640.   765.   777.   779.   934.   769.   645.  1185.  1324.   830.
  1187.  1111.   760.   642.  1604.  1095.   966.   473.  1138.  1811.
   988.   917.  1156.   687. 11714.   836.  1347.  2866.  1646.   259.
   609.   697.   585.   475.   690.   308.  1823.  1361.  1273.   924.
   584.  2078.   831.  1172.   893.  1872.  1885.  1266.   447.  2148.
  1730.   730.   289.   502.   333.  1325.   247.   879.  1342.  1327.
  1598.  1514.  1058.   738.  1935.   481.  1522.  1282.   456.   880.
   900.   798.  1277.   442.  1051.   790.  1292.  1047.   528.  1211.
  1493.  1793.   574.   930.  1998.   271.   706.  1481.  1677.  1661.
  1286.  1408.  1090.   595.  1451.  1267.   993.  1714.   878.   641.
   749.  1511.   603.   353.   877.  1236.  1141.   397.   784.  1024.
  1357.  1301.   770.   922.  1438.   753.   607.  1363.   638.   490.
   431.   565.   517.   833.   489.  1760.   986.  1841.  1620.  1360.
   474.  1099.   978.  1624.  1946.  1268.  1307.   696.   649.   666.
  2151.   551.   800.   971.  1323.  2377.  1845.  1083.   694.   463.
   419.   345.  1515.  1505.  2056.  1203.   729.   460.  1356.   876.
   911.  1190.   780.   448.  2410.  1848.  1148.   834.  1275.  1028.
  1197.   724.   890.  1705.   505.   789.  2959.   518.   461.  1719.
  2858.  3156.  2225.  2177.  1968.  1888.  1308.  2736.  1103.   557.
  2195.   843.  1664.   723.  4508.   562.   501.  2018.  1076.  1202.
  3301.   691.  1440.  1869.  1178.   418.  1820.  1413.   488.  1304.
   363.  2108.   521.  1659.    87.  1411.  1528.  3292.  7058.  1578.
   627.   874.  1996.  1488.  5679.  1234.  5603.   400.   889.  3268.
   875.   949.  2265.   441.   742.   425.  2476.  2971.   614.  1816.
  1375.  1405.  2297.  1062.  1113.   420.  2469.   658.  1951.  2670.
  2578.  1995.  1032.   994.  1011.  2421.  1296.   155.   494.   426.
  1086.   961.  2236.  1829.   764.  1834.  1054.   617.  1529.  2266.
   637.   626.  1832.  1016.  2002.  1756.   746.  1285.  2690.  1118.
  5332.   980.  1807.   970.  1228.  1195.  1132.  1768.  1384.  1080.
  7063.  1817.  1452.  1975.  1368.   702.  1974.  1781.  1036.   944.
   663.   364.  1539.  1345.  1680.  2209.   741.  1575.   695.  1317.
   294.  1525.   424.   997.  1473.  1552.  2819.  2188.  1668.  3057.
   799.  1502.  2606.   552.  1694.  1759.  1110.   399.  1470.  1174.
  5877.  1474.  1688.   526.   686.  5908.  1107.  2070.  1468.  1246.
  1685.   556.  1533.  1917.  1346.   732.   692.   579.   421.   362.
  3505.  1855.  2711.  1586.  3739.   681.  1708.  2278.  1701.   722.
  1482.   928.   827.   832.   527.   604.   173.  1341.  3329.  1553.
   859.   167.   916.   828.  2082.  1176.  1108.   975.  3008.  1516.
  2269.  1699.  2073.  1031.  1503.  2364.  1030.  1442.  5666.  2715.
  1437.  2067.  1426.  2908.  1279.   866.  4283.   279.  2658.  3015.
  2004.  1391.  4736.   748.  1466.   644.   683.  2705.  1297.   731.
  1252.  2216.  3141.  3273.  1518.  1723.  1588.   972.   682.  1094.
   668.   175.   967.   402.  3894.  1960.  1599.  2000.  2084.  1621.
   714.  1109.  3989.   873.  1572.  1163.  1991.  1716.  1673.  2562.
  2874.   965.   462.   605.  1948.  1736.  3518.  2054.  2467.  1681.
  1272.  1205.   750.  2156.  2566.   115.   524.  3184.   676.  1678.
   612.   328.   955.  1441.  1675.  3965.  2909.   623.   822.   867.
  3025.  1993.   792.   636.  4057.  3743.  2337.  2570.  2418.  2472.
  3910.  1662.  2123.  2628.  3208.  2080.  3699.  2913.   864.  2505.
   870.  7536.  1924.  1671.  1064.  1836.  1866.  4741.   841.  1369.
  5681.  3112.  1366.  2223.  1198.  1039.  3811.  3571.  1387.  1171.
  1365.  1531.  1590. 11706.  2308.  4860.  1641.  1045.  1901.  1883.
  1613.  4746.  3061.  2547.  3258.  7528.  2317.  1846.  3005.  2802.
  1545.  2096.  2625.  1526.  1721.   437.   818.  1364.  1168.  2132.
  3515.   771.  4514.  1844.   914.   923.  1830.  2553.  2008.   977.
  2969.  4053.  1594.  1415.  1698.  5220.  1254.  1747.  3718.  2643.
  1044.  4735.  1555.  5668.   582.  2390.   238.  1040.   835.   763.
  2040.  1696.  1837.  1614.  1519.  2800.  1035.  2528.  4739.  1271.
  1359.  2488.  2235.  2052.  1226.  4159.  2068.  2243.  2504.  1762.
  3592.  1899.   704.  2373.   884.]
--------------------------------------------------------------------------------------------------
Manufacturer =>  no. of unique values  68 |  null values  0
['LEXUS' 'CHEVROLET' 'HONDA' 'FORD' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ'
 'OPEL' 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'AUDI' 'RENAULT' 'NISSAN'
 'SUBARU' 'DAEWOO' 'KIA' 'MITSUBISHI' 'SSANGYONG' 'MAZDA' 'GMC' 'FIAT'
 'INFINITI' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'GAZ' 'CITROEN'
 'LAND ROVER' 'MINI' 'DODGE' 'CHRYSLER' 'JAGUAR' 'ISUZU' 'SKODA'
 'DAIHATSU' 'BUICK' 'TESLA' 'CADILLAC' 'PEUGEOT' 'BENTLEY' 'VOLVO' 'სხვა'
 'HAVAL' 'HUMMER' 'SCION' 'UAZ' 'MERCURY' 'ZAZ' 'ROVER' 'SEAT' 'LANCIA'
 'MOSKVICH' 'MASERATI' 'FERRARI' 'SAAB' 'LAMBORGHINI' 'ROLLS-ROYCE'
 'PONTIAC' 'SATURN' 'ASTON MARTIN' 'GREATWALL' 'TATA' 'FOTON' 'MG']
--------------------------------------------------------------------------------------------------
Model =>  no. of unique values  1981 |  null values  0
['RX 450' 'Equinox' 'FIT' ... 'CX-3 Grand tauring' 'Stilo' '528 F10']
--------------------------------------------------------------------------------------------------
Prod. year =>  no. of unique values  59 |  null values  0
[2010 2011 2006 2014 2016 2013 2007 1999 1997 2018 2008 2012 2017 2001
 1995 2009 2000 2019 2015 2004 1998 1990 2005 2003 1985 1996 2002 1993
 1992 1988 1977 1989 1994 2020 1984 1986 1991 1983 1953 1964 1974 1987
 1943 1978 1965 1976 1957 1980 1939 1968 1947 1982 1981 1973 1966 1961
 1979 1956 1970]
--------------------------------------------------------------------------------------------------
Category =>  no. of unique values  11 |  null values  0
['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']
--------------------------------------------------------------------------------------------------
Leather interior =>  no. of unique values  2 |  null values  0
['Yes' 'No']
--------------------------------------------------------------------------------------------------
Fuel type =>  no. of unique values  7 |  null values  0
['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG' 'Hydrogen']
--------------------------------------------------------------------------------------------------
Engine volume =>  no. of unique values  112 |  null values  0
['3.5' '3' '1.3' '2.5' '2' '1.8' '2.4' '4' '1.6' '3.3' '2.0 Turbo'
 '2.2 Turbo' '4.7' '1.5' '4.4' '3.0 Turbo' '1.4 Turbo' '3.6' '2.3'
 '1.5 Turbo' '1.6 Turbo' '2.2' '2.3 Turbo' '1.4' '5.5' '2.8 Turbo' '3.2'
 '3.8' '4.6' '1.2' '5' '1.7' '2.9' '0.5' '1.8 Turbo' '2.4 Turbo'
 '3.5 Turbo' '1.9' '2.7' '4.8' '5.3' '0.4' '2.8' '3.2 Turbo' '1.1' '2.1'
 '0.7' '5.4' '1.3 Turbo' '3.7' '1' '2.5 Turbo' '2.6' '1.9 Turbo'
 '4.4 Turbo' '4.7 Turbo' '0.8' '0.2 Turbo' '5.7' '4.8 Turbo' '4.6 Turbo'
 '6.7' '6.2' '1.2 Turbo' '3.4' '1.7 Turbo' '6.3 Turbo' '2.7 Turbo' '4.3'
 '4.2' '2.9 Turbo' '0' '4.0 Turbo' '20' '3.6 Turbo' '0.3' '3.7 Turbo'
 '5.9' '5.5 Turbo' '0.2' '2.1 Turbo' '5.6' '6' '0.7 Turbo' '0.6 Turbo'
 '6.8' '4.5' '0.6' '7.3' '0.1' '1.0 Turbo' '6.3' '4.5 Turbo' '0.8 Turbo'
 '4.2 Turbo' '3.1' '5.0 Turbo' '6.4' '3.9' '5.7 Turbo' '0.9' '0.4 Turbo'
 '5.4 Turbo' '0.3 Turbo' '5.2' '5.8' '1.1 Turbo' '6.6' '6.1' '10.8'
 '6.0 Turbo' '2.6 Turbo']
--------------------------------------------------------------------------------------------------
Mileage =>  no. of unique values  9977 |  null values  0
['186005 km' '192000 km' '200000 km' ... '319992 km' '81109 km'
 '146697 km']
--------------------------------------------------------------------------------------------------
Cylinders =>  no. of unique values  16 |  null values  0
[  6.   4.   8.   1.  12.   3.   2.  16.   5.   7.   9.  10.  14. 127.
  11.  15.]
--------------------------------------------------------------------------------------------------
Gear box type =>  no. of unique values  4 |  null values  0
['Automatic' 'Tiptronic' 'Variator' 'Manual']
--------------------------------------------------------------------------------------------------
Drive wheels =>  no. of unique values  3 |  null values  0
['4x4' 'Front' 'Rear']
--------------------------------------------------------------------------------------------------
Doors =>  no. of unique values  3 |  null values  0
['04-May' '02-Mar' '>5']
--------------------------------------------------------------------------------------------------
Wheel =>  no. of unique values  2 |  null values  0
['Left wheel' 'Right-hand drive']
--------------------------------------------------------------------------------------------------
Color =>  no. of unique values  16 |  null values  0
['Silver' 'Black' 'White' 'Grey' 'Blue' 'Green' 'Red' 'Sky blue' 'Orange'
 'Yellow' 'Brown' 'Golden' 'Beige' 'Carnelian red' 'Purple' 'Pink']
--------------------------------------------------------------------------------------------------
Airbags =>  no. of unique values  17 |  null values  0
[12  8  2  0  4  6 10  3  1 16  5  7  9 11 14 15 13]
--------------------------------------------------------------------------------------------------

In [ ]:
df.dtypes

ID                    int64
Price               float64
Levy                float64
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

In [ ]:
# remove outlier from Cylinders
df['Cylinders'].replace({127:4},inplace=True)

In [ ]:
# encoding - ranking Model based on Price 
a = df.groupby('Model')['Price'].mean().sort_values(0,ascending=False).rank(method='max').to_dict()

In [ ]:
df['Model']=df['Model'].map(a)

In [ ]:
# encoding - Category based on Price 
df['Category'].replace({'Jeep':7, 'Hatchback':1, 'Sedan':3, 'Microbus':4, 'Goods wagon':11,
       'Universal':9, 'Coupe':6, 'Minivan':5, 'Cabriolet':8, 'Limousine':2,
       'Pickup':10},inplace=True)

In [ ]:
# encoding - Leather interior  based on Price 
df['Leather interior'].replace({'Yes':2,'No':0},inplace=True)

In [ ]:
# encoding - Fuel Type based on Price
df['Fuel type'].replace({'Hybrid':2, 'Petrol':4, 'Diesel':7, 'CNG':1, 'Plug-in Hybrid':6, 'LPG':3,
       'Hydrogen':5},inplace=True)

In [ ]:
# encoding - Gear Box Type based on Price
df['Gear box type'].replace({'Automatic':2, 'Tiptronic':2, 'Variator':2, 'Manual':1},inplace=True)

In [ ]:
# encoding - Drive wheels based on Price
df['Drive wheels'].replace({'4x4':3, 'Front':2, 'Rear':1},inplace=True)

In [ ]:
# encoding - Wheels based on Price
df['Wheel'].replace({'Left wheel':2,'Right-hand drive':1},inplace=True)

In [ ]:

x = df['Color'].value_counts(normalize=True).head(30).to_dict()

In [ ]:
df['color']=df['Color'].map(x)

In [ ]:
# encoding - Color based on Price
df['Color'].replace({'Silver':8, 'Black':12, 'White':11, 'Grey':13, 'Blue':16, 'Green':2, 'Red':5,
       'Sky blue':6, 'Orange':4, 'Yellow':15, 'Brown':14, 'Golden':7, 'Beige':9,
       'Carnelian red':10, 'Purple':1, 'Pink':3},inplace=True)

In [ ]:
# remove Km from Mileage
df['new_mileage']=df['Mileage'].str.split(' km',expand=True)[0]

In [ ]:
# remove vales of 0 km from 
df['new_mileage'].replace({'0':np.nan},inplace=True)

In [ ]:
df.corr()

                        ID     Price      Levy  ...   Airbags     color         a
ID                1.000000 -0.000844 -0.023875  ... -0.014193  0.008631  0.004714
Price            -0.000844  1.000000  0.063291  ... -0.012824 -0.003236 -0.001815
Levy             -0.023875  0.063291  1.000000  ...  0.076523  0.067987  0.020937
Model            -0.000125  0.069065  0.086124  ... -0.075273  0.094359 -0.030088
Prod. year        0.070181  0.012982 -0.235871  ...  0.236227  0.124522 -0.063013
Category          0.025507  0.043011  0.264926  ... -0.082102  0.049909 -0.004883
Leather interior  0.104186  0.000754  0.019212  ...  0.167343  0.132272 -0.033464
Fuel type         0.032201  0.035484  0.129450  ... -0.123126  0.070834 -0.016799
Cylinders        -0.038632  0.007518  0.586911  ...  0.166515  0.111556 -0.004695
Gear box type     0.013664 -0.012172 -0.093719  ...  0.209879  0.100882 -0.046372
Drive wheels      0.013712  0.003419  0.178019  ...  0.014997  0.040873 -0.008579
Airbags          -0.014193 -0.012824  0.076523  ...  1.000000  0.054205 -0.007489
color             0.008631 -0.003236  0.067987  ...  0.054205  1.000000 -0.010811
a                 0.004714 -0.001815  0.020937  ... -0.007489 -0.010811  1.000000

[14 rows x 14 columns]

In [ ]:
# fill na 'Mileage'
df['new_mileage'].fillna(df.groupby('Color')['new_mileage'].transform('mean'),inplace=True)

In [ ]:
# fill na Levy 
df['Levy'].fillna(df.groupby('Engine volume')['Levy'].transform('mean'),inplace=True)

In [ ]:
mfp = df.groupby(['Manufacturer'])['Price'].mean().sort_values(0,ascending=False).head(200).rank(method='max').to_dict()

In [ ]:
df['Manufacturer']=df['Manufacturer'].map(mfp)

In [ ]:
a=df.groupby(['Engine volume'])['Price'].mean().sort_values(0,ascending=False).rank(method='max').fillna(10).to_dict()

In [ ]:
df['Engine volume']=df['Engine volume'].map(a)

In [ ]:
df.Doors.unique()

array(['04-May', '02-Mar', '>5'], dtype=object)

In [ ]:
df.Doors.replace({'04-May':3, '02-Mar':2, '>5':1},inplace=True)

In [ ]:
df['Manufacturer'].fillna(53.0,inplace=True)

In [ ]:
df['Levy'].fillna(0,inplace=True)

In [ ]:
df['new_mileage']=df['new_mileage'].astype(int)

In [ ]:
df['lev_A']=df['Levy']/df['new_mileage']*100

In [ ]:
df['lev_A'].fillna(0,inplace=True)

In [ ]:
df['Prod']=abs(df['Prod. year']-1900)

In [ ]:
df['Levy_air']=round(df['Levy']/df['Airbags'].astype(int))

In [ ]:
df['a_cyl']=df['new_mileage']/df['Cylinders'].astype(int)
df['a_cat']=df['new_mileage']/df['Category'].astype(int)
df['a_flt']=df['new_mileage']/df['Fuel type'].astype(int)
df['a_gbt']=df['new_mileage']/df['Gear box type'].astype(int)

df['a_dw']=df['new_mileage']/df['Drive wheels'].astype(int)

df['l_cyl']=df['Levy']/df['Cylinders'].astype(int)
df['l_cat']=df['Levy']/df['Category'].astype(int)
df['l_flt']=df['Levy']/df['Fuel type'].astype(int)
df['l_gbt']=df['Levy']/df['Gear box type'].astype(int)


df['l_dw']=df['Levy']/df['Drive wheels'].astype(int)

In [ ]:
df['Prod. year']=pd.qcut(df['Prod. year'],3,labels=[1,2,3])

In [ ]:
#df = df.reset_index(inplace=True)
df.replace([np.inf, -np.inf,np.nan],1, inplace=True)

In [ ]:
df['Prod. year']=df['Prod. year'].astype(int)

In [ ]:
train_len = len(df_train)
train_ = df[:train_len]
test_ = df[train_len:]

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score

y=train_['Price']#.values.reshape(-1,1)
x=train_.drop(['Price','Mileage','ID','Wheel','Color'],axis=1)


X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=34)

In [ ]:
pip install catboost
pip install Lightgbm

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/5a/41/24e14322b9986cf72a8763e0a0a69cc256cf963cf9502c8f0044a62c1ae8/catboost-0.26-cp37-none-manylinux1_x86_64.whl (69.2MB)
     |████████████████████████████████| 69.2MB 43kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Installing collected packages: catboost
Successfully installed catboost-0.26

In [ ]:
#REgressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost
from sklearn.ensemble import VotingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from lightgbm import LGBMRegressor
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import StackingRegressor
from catboost import CatBoostRegressor
#Evalution Metrix
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error,mean_squared_log_error

In [ ]:
reg = {
"LinearRegression": LinearRegression(),
"KNeighborsRegressor":KNeighborsRegressor(n_neighbors=2),
"AdaBoostRegressor":AdaBoostRegressor(random_state=0, n_estimators=100),
"LGBMRegressor":LGBMRegressor(),
"Ridge": Ridge(alpha=1.0),
"ElasticNet":ElasticNet(random_state=0),
"GradientBoostingRegressor":GradientBoostingRegressor(random_state=0),
"DecisionTreeRegressor": DecisionTreeRegressor(),
"ExtraTreesRegressor": ExtraTreesRegressor(n_jobs=-1),
"RandomForestRegressor": RandomForestRegressor(n_jobs=-1),
"XGBRegressor":xgboost.XGBRegressor(n_jobs=-1),
"CatBoostRegressor":CatBoostRegressor(iterations=900, depth=5, learning_rate=0.05,loss_function = 'RMSE')
#"VottingRegressor": VotingRegressor([('rf', rf),('xgb',xgb),('et',et)],n_jobs=-1)
#"Stcking" : StackingRegressor(estimators=[('et', et),('xgb',xgb),('rf',rf)], final_estimator=LinearRegression(), cv=5)
}

In [ ]:
%%time
dic =  {"Model":[],"R2_Train":[],"RMSE_Train":[]}
for name, model in reg.items():
    if name == 'CatBoostRegressor':
        model.fit(x, y,verbose=False)
    else:
        model.fit(x, y)
    #y_test_pre = model.predict(test_df)
    y_train_pre = model.predict(x)
    r2_train = r2_score(y, y_train_pre)
    rmse_train  = np.sqrt(mean_squared_error(y, y_train_pre))
    print("--------------------------------------------------------------")
    print("Model:", name)
    print("-----Training Data Evalution-----")
    print("R2 Value: ", r2_score(y, y_train_pre))
    print("RMSE: ",np.sqrt(mean_squared_error(y, y_train_pre)))
    dic["Model"].append(name)
    dic["R2_Train"].append(r2_train)
    dic["RMSE_Train"].append(rmse_train)
#final_data = pd.DataFrame(dic)
#print("==================================================================")
#print("Best Model")
#print("==================================================================")
#print(final_data.max())
#print("==================================================================")
#final_data.sort_values("RMSE_Train", axis = 0, ascending = True)

--------------------------------------------------------------
Model: LinearRegression
-----Training Data Evalution-----
R2 Value:  0.009040211213129812
RMSE:  189712.93532038896
--------------------------------------------------------------
Model: KNeighborsRegressor
-----Training Data Evalution-----
R2 Value:  0.5021277658407173
RMSE:  134470.76669960658
--------------------------------------------------------------
Model: AdaBoostRegressor
-----Training Data Evalution-----
R2 Value:  0.9940595699520699
RMSE:  14688.514311999641
--------------------------------------------------------------
Model: LGBMRegressor
-----Training Data Evalution-----
R2 Value:  0.39855249834279083
RMSE:  147797.7389922806
--------------------------------------------------------------
Model: Ridge
-----Training Data Evalution-----
R2 Value:  0.009040206255215733
RMSE:  189712.9357949695

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=7.43368e-19): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 346623066767396.8, tolerance: 69867499473.6642
  positive)

--------------------------------------------------------------
Model: ElasticNet
-----Training Data Evalution-----
R2 Value:  0.008153409544400914
RMSE:  189797.80260144142
--------------------------------------------------------------
Model: GradientBoostingRegressor
-----Training Data Evalution-----
R2 Value:  0.9967694894375685
RMSE:  10831.896717332444
--------------------------------------------------------------
Model: DecisionTreeRegressor
-----Training Data Evalution-----
R2 Value:  0.9998952206950348
RMSE:  1950.7727677213907
--------------------------------------------------------------
Model: ExtraTreesRegressor
-----Training Data Evalution-----
R2 Value:  0.9998952205921737
RMSE:  1950.7737252506233
--------------------------------------------------------------
Model: RandomForestRegressor
-----Training Data Evalution-----
R2 Value:  0.8052142932986057
RMSE:  84109.96850375987
[20:04:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
--------------------------------------------------------------
Model: XGBRegressor
-----Training Data Evalution-----
R2 Value:  0.9964505367019241
RMSE:  11354.036149181027
--------------------------------------------------------------
Model: CatBoostRegressor
-----Training Data Evalution-----
R2 Value:  0.9980399703577076
RMSE:  8437.236978007779
CPU times: user 1min 27s, sys: 1.38 s, total: 1min 29s
Wall time: 52.2 s

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score,mean_squared_error,r2_score,mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

from catboost import CatBoostRegressor
from xgboost import XGBRegressor
xgb = XGBRegressor()
rfc = RandomForestRegressor(oob_score=True)
cbx = CatBoostRegressor(iterations=5000)
dtr = DecisionTreeRegressor()
def m_eval(model,X_train,y_train,X_test,y_test):
  for i in model:  
    i.fit(X_train,y_train)
    pred_train = i.predict(X_train)
    pred_test = i.predict(X_test)
    print(i)
    print('Train rmsle',np.sqrt(mean_squared_error(y_train,pred_train)))
    print('Test rmsle',np.sqrt(mean_squared_error(y_test,pred_test)))
    print('Test mse',mean_squared_error(y_test,pred_test))

    print('Train r2\n',r2_score(y_train,pred_train))
    print('Test max-r2\n',max(0,100*r2_score(y_test,pred_test)))
    print('Test r2\n',r2_score(y_test,pred_test))
    #print('Test f1_score\n',f1_score(y_test,pred_test,average='macro'))

In [ ]:
m_eval([rfc,dtr,xgb,cbx],X_train,y_train,X_test,y_test)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=True,
                      random_state=None, verbose=0, warm_start=False)
Train rmsle 90830.33391231128
Test rmsle 143341.20468219536
Test mse 20546700959.743023
Train r2
 0.7953930010762639
Test max-r2
 0
Test r2
 -67.57233376991539
DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')
Train rmsle 1930.968515571492
Test rmsle 12083.137889136844
Test mse 146002221.2478944
Train r2
 0.999907528255828
Test max-r2
 51.27337928275926
Test r2
 0.5127337928275926

In [ ]:
from sklearn.experimental import enable_halving_search_cv
from sklearn.model_selection import HalvingGridSearchCV

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestRegressor()


#Randomized Search CV , Grid search CV 
# random is better than grid we consider random 

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 150, num = 15)]
# Number of features to consider at every split
#max_features = ['auto']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(48,100,num=20)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [5, 10, 15,20]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10, 15, 20, 25]



# Create the random grid
random_grid_01 = {'n_estimators': n_estimators,
             #  'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid_01)

rf_random_0f = HalvingGridSearchCV(rfc,random_grid_01,scoring='neg_mean_squared_log_error', cv = 2, verbose=2 ,random_state=42)

{'n_estimators': [100, 103, 107, 110, 114, 117, 121, 125, 128, 132, 135, 139, 142, 146, 150], 'max_depth': [48, 50, 53, 56, 58, 61, 64, 67, 69, 72, 75, 78, 80, 83, 86, 89, 91, 94, 97, 100], 'min_samples_split': [5, 10, 15, 20], 'min_samples_leaf': [1, 2, 5, 10, 15, 20, 25]}

In [ ]:
rf_random_0f.fit(X_train,y_train.ravel())

In [ ]:
rf_random_0f.best_estimator_

RandomForestRegressor(max_depth=50, min_samples_split=10, n_estimators=130)

In [ ]:
pd.DataFrame(rfc.feature_importances_,index=X_train.columns).sort_values(0,ascending=False).head(30)

                         0
Prod              0.145019
Color             0.115077
Prod. year        0.103398
Airbags           0.090998
l_cl              0.080600
Levy_air          0.063155
l_cat             0.062140
Engine volume     0.057817
a_cat             0.037119
l_flt             0.032325
a_flt             0.032075
a_cl              0.023762
lev_A             0.020509
Doors             0.018304
a_dw              0.016293
Category          0.014701
Levy              0.009736
l_dw              0.008733
Gear box type     0.008569
a_cyl             0.008518
eng_cyl           0.008256
l_cyl             0.007260
a                 0.005956
l_w               0.005528
a_w               0.004412
Cylinders         0.004015
Leather interior  0.003982
a_gbt             0.003663
l_gbt             0.003505
Drive wheels      0.002113

a	0.325178
Prod. year	0.090819
Airbags	0.076583
Engine volume	0.073357
Levy_max	0.062883
Doors	0.048764
Levy_sum

In [ ]:
test_sc = se.transform(test_.drop(['Price','Mileage','ID'],axis=1))

In [ ]:
pred = cbx.predict(test_.drop(['Price','Mileage','ID','Wheel','Color'],axis=1))

In [ ]:
df2 = pd.DataFrame(pred)

In [ ]:
df2.to_csv('cbx_machine.csv',index=False)